In [50]:
import geonamescache
import pandas as pd
import numpy as np
import re
from unidecode import unidecode

gc = geonamescache.GeonamesCache()
countries_re = "|".join(list(gc.get_countries_by_names().keys()))
comp_country_re = re.compile(r"\b" + countries_re + r"\b")

cities = [value.get("name") for key, value in gc.get_cities().items()]

# Dataframe columns
df_headline = []
df_country = []
df_city = []

file = open("data/headlines.txt", 'r')
for line in file.readlines():
    df_headline.append(line.rstrip())
    result = comp_country_re.search(unidecode(line.rstrip()))
    if result is not None:
        df_country.append(result.group(0))
    else:
        df_country.append(np.NaN)
        
    headlinewords = re.findall(r"([A-Z]\w+)\s?", line)
    found_cities = []
    
    while(len(headlinewords) > 0):
        wordSubset = headlinewords[:]
        
        while(len(wordSubset) > 0):
            result = (" ".join(wordSubset)).strip()
            if result in cities:
                if not result in df_city:
                    found_cities.append(result)
            wordSubset.pop()
        headlinewords.pop(0)
    found_cities = list(filter( lambda n: len([city for city in found_cities if n in city]) ==1, found_cities))
    df_city.append(found_cities[0] if len(found_cities) > 0 else np.NaN)

file.close()

df = pd.DataFrame({'headline': df_headline, 'country': df_country, 'city': df_city})

print(df)
print(df.head(50))

                                              headline country           city
0                             Zika Outbreak Hits Miami     NaN          Miami
1                      Could Zika Reach New York City?     NaN  New York City
2                    First Case of Zika in Miami Beach     NaN    Miami Beach
3              Mystery Virus Spreads in Recife, Brazil  Brazil         Recife
4              Dallas man comes down with case of Zika     NaN         Dallas
..                                                 ...     ...            ...
645  Rumors about Rabies spreading in Jerusalem hav...     NaN      Jerusalem
646              More Zika patients reported in Indang     NaN         Indang
647  Suva authorities confirmed the spread of Rotav...     NaN           Suva
648         More Zika patients reported in Bella Vista     NaN    Bella Vista
649                     Zika Outbreak in Wichita Falls     NaN  Wichita Falls

[650 rows x 3 columns]
                                             headline   country  \
0                            Zika Outbreak Hits Miami       NaN
1                     Could Zika Reach New York City?       NaN
2                   First Case of Zika in Miami Beach       NaN
3             Mystery Virus Spreads in Recife, Brazil    Brazil
4             Dallas man comes down with case of Zika       NaN
5                   Trinidad confirms first Zika case       NaN
6              Zika Concerns are Spreading in Houston       NaN
7               Geneve Scientists Battle to Find Cure       NaN
8               The CDC in Atlanta is Growing Worried       NaN
9                  Zika Infested Monkeys in Sao Paulo       NaN
10              Brownsville teen contracts Zika virus       NaN
11  Mosquito control efforts in St. Louis take new...       NaN
12  San Juan reports 1st U.S. Zika-related death a...       NaN
13                   Flu outbreak in Galveston, Texas       NaN
14                 Zika alert â€“ Manila now threatened       NaN
15                     Zika afflicts 7 in Iloilo City       NaN
16               New Los Angeles Hairstyle goes Viral       NaN
17                      Louisiana Zika cases up to 26       NaN
18               Orlando volunteers aid Zika research       NaN
19                Zika infects pregnant woman in Cebu       NaN
20                Chicago's First Zika Case Confirmed       NaN
21              Tampa Bay Area Zika Case Count Climbs       NaN
22     Bad Water Leads to Sickness in Flint, Michigan       NaN
23                     Baltimore plans for Zika virus       NaN
24          London Health Unit Tracks Mad Cow Disease       NaN
25     Zika cases in Vietnam's Ho Chi Minh City surge   Vietnam
26                Philadelphia experts track pandemic       NaN
27                             Flu season hits Boston       NaN
28            Scientists in Paris to look for answers       NaN
29           Key Zika Findings in San Diego Institute       NaN
30                     Thailand-Zika Virus in Bangkok  Thailand
31                    Beijing team cracks Zika secret       NaN
32                         Zika spreading to Salvador       NaN
33                 Kuala Lumpur is Hit By Zika Threat       NaN
34                First Zika case confirmed in Yangon       NaN
35             Tallahassee Doctors Discuss Zika Virus       NaN
36                   Zika Virus Reaches San Francisco       NaN
37          New Vaccine on Trial in Bethesda District       NaN
38                 Townsville Zika tests inconclusive       NaN
39              Mandaluyong City under Siege by Virus       NaN
40               Hepatitis E re-emerges in Santa Rosa       NaN
41                       Zika worries in San Salvador       NaN
42                   Zika virus reported in Cleveland       NaN
43              More Zika patients reported in Austin       NaN
44                Zika outbreak in Piracicaba, Brazil    Brazil
45                Lima tries to address Zika Concerns       NaN
46  More people in Toronto are infected with Hepat...       NaN
47                        18 new Zika Cases in Bogota       NaN
48                     Spanish Flu Sighted in Antigua       NaN
49               Brisbane is infested with Meningitis       NaN

                city
0              Miami
1      New York City
2        Miami Beach
3             Recife
4             Dallas
5           Trinidad
6            Houston
7                NaN
8            Atlanta
9                NaN
10       Brownsville
11               NaN
12          San Juan
13         Galveston
14            Manila
15            Iloilo
16       Los Angeles
17               NaN
18           Orlando
19               NaN
20           Chicago
21             Tampa
22             Flint
23         Baltimore
24            London
25  Ho Chi Minh City
26      Philadelphia
27            Boston
28             Paris
29         San Diego
30           Bangkok
31           Beijing
32          Salvador
33      Kuala Lumpur
34            Yangon
35       Tallahassee
36     San Francisco
37          Bethesda
38        Townsville
39  Mandaluyong City
40        Santa Rosa
41      San Salvador
42         Cleveland
43            Austin
44        Piracicaba
45              Lima
46           Toronto
47               NaN
48               NaN
49          Brisbane